@model VisitMyCities.DataModel.BusinessObjects.Ville 


@{
    ViewData["Title"] = "Details";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VisitMyCity</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header class="masthead" style="padding-bottom: 0;">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h1 class="mb-0">@Html.DisplayFor(model => model.NomVille)</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <section class=' rating-widget'>
                        @if ((double)@ViewData["MoyenneEtoiles"] > 0)
                        {
                            @Html.Partial("_ShowAverageEvaluation")
                        }
                        else
                        {
                            <h3>Pas d'évaluation pour ce lieu</h3>
                        }
                    </section>
                </div>
                <div class="row">
                    <section class='rating-widget'>
                        @if (@ViewData["Utilisateur"] != null)
                        {
                            if ((int)@ViewData["Etoiles"] == 0)
                            {
                                @Html.Partial("_StarsEvaluation")
                            }
                            else
                            {
                                @Html.Partial("_ShowUserEvaluation")
                            }
                        }

                    </section>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <br />
                        <dt>
                            @Html.DisplayNameFor(model => model.NomRegion)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NomRegion)
                        </dd>
                        <br />
                        <dt>
                            @Html.DisplayNameFor(model => model.NumDepartement)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NumDepartement)
                        </dd>
                        <br />
                        <dt>
                            @Html.DisplayNameFor(model => model.NomDepartement)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NomDepartement)
                        </dd>

                    </div>
                    <div class="col-md-5" id="blason">
                        <img src="~/@Html.DisplayFor(model => model.Blason)" style="width:250px" />
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.VilleId">Modifier</a> |
                    <a asp-action="Index">Retour à la liste</a>
                </div>
            </div>
         </div>   
    </header>
</body>

