@model IEnumerable<VisitMyCities.DataModel.BusinessObjects.Ville>

@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VisitMyCity</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<header class="masthead">
</header>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomVille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumDepartement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomDepartement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomVille)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomRegion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumDepartement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomDepartement)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VilleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VilleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VilleId">Delete</a>
                </td>
            </tr>
        }
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="~/js/site.js"></script>
    </tbody>
</table>
