@model IEnumerable<VisitMyCities.DataModel.BusinessObjects.Ville>

@{
    ViewData["Title"] = "Index";
}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>VisitMyCity</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- Third party plugin CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/css/perfect-scrollbar.min.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        @*<link href="~/css/site.css" rel="stylesheet" />*@

        @*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />*@
        @*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@
        @*<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500" rel="stylesheet" />*@
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" rel="stylesheet" type="text/css" />


    </head>
    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
        <header class="masthead">
        </header>
        <br /><br />
        <script type="text/javascript">
            $(document).ready(function ($) {
                $('#tablelist').DataTable({
                    "paging": false,
                    "fnInitComplete": function () {
                        //var myCustomScrollbar = document.querySelector('#tablelist_wrapper .dataTables_scrollBody');
                        //var ps = new PerfectScrollbar(myCustomScrollbar);
                    },
                    "scrollY": 800, "scrollX": 1400
                });
                $('.dataTables_length').addClass('bs-select');
            });

            var stars = $("ul#average-stars > li");
            var averageStars = document.getElementById('PassingToJavaScript1').value;
            //console.log(averageStars);
            var totalStarsDot = averageStars.replace(/\,/g, '.');
            var totalStars = parseFloat(totalStarsDot);
            //console.log(totalStars);
            var fullStars = Math.floor(totalStars);
            //console.log(fullStars);

            for (i = 0; i < fullStars; i++) {
                $(stars[i]).addClass('selected');

            }
        </script>
        
        <section class="page-section" id="services">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <a asp-action="Create">Ajouter une ville</a>
                    </div>
                </div>
            </div>
            <table id="tablelist" class="table table-hover dataTable table-responsive">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NomVille)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NomRegion)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.NumDepartement)
                        </th>
                        <th>
                            Moyenne
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var item in Model)
                    {
                        int sumOfRatings = 0;
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomVille)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomRegion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomDepartement)
                            </td>
                            <td>
                                @if (item.VillesEvaluees != null)
                                {
                                    @foreach (var r in item.VillesEvaluees)
                                    {
                                        sumOfRatings += r.NombreEtoiles;
                                    }
                                    double averageRating = item.VillesEvaluees.Count > 0
                                        ? (double)sumOfRatings / item.VillesEvaluees.Count
                                        : 0;

                                    <div>                                      
                                        @averageRating                                        
                                        <input type="hidden" id="PassingToJavaScript1" value="@averageRating">
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        Pas de note
                                        <input type="hidden" id="PassingToJavaScript1" value="0">
                                    </div>
                                }
                                
                                <div class='rating-stars'>
                                    <ul id='average-stars'>
                                        <li class='average-star' title='Décevant' data-value='1'>
                                            <i class='fa ratingStar fas fa-star'></i>
                                        </li>
                                        <li class='average-star' title='Moyen' data-value='2'>
                                            <i class='fa ratingStar fas fa-star'></i>
                                        </li>
                                        <li class='average-star' title='Sympa mais sans plus...' data-value='3'>
                                            <i class='fa ratingStar fas fa-star'></i>
                                        </li>
                                        <li class='average-star' title='Très intéressant, à voir !' data-value='4'>
                                            <i class='fa ratingStar fas fa-star'></i>
                                        </li>
                                        <li class='average-star' title='Exceptionnel, à voir absolument !!!' data-value='5'>
                                            <i class='fa ratingStar fas fa-star'></i>
                                        </li>

                                    </ul>
                                </div>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.VilleId">Informations</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="~/js/site.js"></script>
    </body>