@model VisitMyCities.Models.ListeVoyageViewModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VisitMyCity</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <h1 style="margin-bottom:50px; margin-top:100px">@Html.DisplayFor(model => model.ListeDeVoyage.TitreListe)</h1>

    <div> 
        <p>
            <img src="~/assets/img/button-304224_640.png" style="width:50px" />
            <a asp-action="AddBatiment" asp-route-id="@Model.ListeDeVoyage.IdListe">Ajouter un bâtiment</a>
        </p>
             
        <div class="card-deck" style="margin:20px">
            @if (Model.Batiments.Count == 0)
            {
            <div style="width:300px; text-align:center; border: 1px grey solid;">Cette liste n'a pas encore de bâtiment.</div>
            }
            else
            {
            @foreach (VisitMyCities.DataModel.BusinessObjects.Batiment item in Model.Batiments)
            {
                <div style="width:300px; text-align:center; border: 1px;">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">@item.NomBatiment</div>
                        </div>
                        <div class="card-body">
                            <div class="card-title"></div>
                            <img src="~/@item.URLPhoto" style="width:100%; text-align:center" />

                        </div>
                        <div class="card-footer">
                            @*<div class="card-title">@item.Ville.NomVille</div>*@
                        </div>
                        @Html.ActionLink("Details", "Details", "Batiments", new { id = item.BatimentId }, new { @class = "btn btn-info float-right" })
                    </div>
                </div>

            }
            }
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ListeDeVoyage.IdListe">Modifier</a> |
        <a asp-action="Index">Retour aux listes de voyage</a>
    </div>
 
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/site.js"></script>
</body>
