@model IEnumerable<VisitMyCities.DataModel.BusinessObjects.ListeDeVoyage>

@{
    ViewData["Title"] = "Index";
}

<h1>Mes balades favorites</h1>

<p>
    <a asp-action="Create">Ajouter une liste</a>
</p>


<div class="card-deck">
    @foreach (VisitMyCities.DataModel.BusinessObjects.ListeDeVoyage item in Model)
    {
        <div class="card-listevoyage" style="width:300px; text-align:center">
            <div class="card-header">
                <div class="card-title">@item.TitreListe</div>
            </div>
            <div class="card-body">
                <div class="card-title"></div>
                <img src="~/@item.URLBlason" style="width:150px"/>

            </div>
            <div class="card-footer">
                <div class="card-title">@item.Ville.NomVille</div>
            </div>
            <button type="submit" class="btn-success">Valider</button>
        </div>

    }

</div>
@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitreListe)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitreListe)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdListe">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdListe">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdListe">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
