@model VisitMyCities.Models.MapViewModel

@{
    ViewData["Title"] = "";
}
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VisitMyCity</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />


    <title>Pulse animation with bubble layer - Azure Maps Web SDK Samples</title>

   

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- MapBox API -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />

</head>
<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/site.js"></script>
    <div class="row">

        <div class="col col-sm-3" id='villesMap' style='width: 300px;margin-top: 120px;'>
            <h3 style="padding-left:10px;">Zoomer sur...</h3>
            <ul style="list-style-type: none;">
                @foreach (VisitMyCities.DataModel.BusinessObjects.Ville item in Model.Villes)
                {

                    <li>
                        <br />
                        <button type="button" id="@item.NomVille" class="boutonVille btn-info" style='width: 150px;'>@item.NomVille</button>
                        <br />
                    </li>
                }
            </ul>



        </div>
        <div class="col col-sm-6" id='map' style='width: 800px; height: 1000px;margin-top:100px;'></div>
        <div class="col col-sm-3" id='infoBatiment' style='width: 300px; height: 1000px;margin-top:120px;'></div>
    </div>
    <script>
        /*Affichage de la carte avec les bâtiments*/
        mapboxgl.accessToken = 'pk.eyJ1IjoibWFyaW5hcGhpbGlwcGUiLCJhIjoiY2trZjluN3YyMGc0OTJ2bjcwNm1zZnhqeSJ9.wLd0vA_gP4_0J16z7A_uyw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11'
        });
        // Add zoom and rotation controls to the map.
        map.addControl(new mapboxgl.NavigationControl());
        //jumpTo(7, 48);
        map.setZoom(8);
        map.setCenter([7, 48]);

        var batimentArray = [];

        var json = @Html.Raw(Json.Serialize(@Model.Batiments));
        console.log(json.length);
        var jsonVilles = @Html.Raw(Json.Serialize(@Model.Villes));
        console.log(jsonVilles);
        console.log(json[1].longitude);
        console.log(json[1].latitude);

        function onClick() {
            alert('Click !!!');
        };

        for (i = 0; i < json.length; i++) {
            //var el = document.createElement('div');
            //el.style.width = '30px';
            //el.style.height = '50px';
            //el.idName = json[i].nomBatiment;
            var toto = json;
            //var batiment = json[i].nomBatiment;
            var marker =
                new mapboxgl.Marker({
                    draggable: true
                })
                    .setLngLat([json[i].longitude, json[i].latitude])
                    .setPopup(new mapboxgl.Popup({ className: 'popup' }).setHTML('<h1>' + json[i].nomBatiment + '</h1><button id='+json[i].batimentId+' class="infoVille btn-info" onclick = "hello(toto, this.id)">Informations</button>')) // add popup
                    .addTo(map);
            //marker.on('dragstart', onClick);
        }

        function hello(json, id) {
            console.log(json);
            console.log(id);
            $(document).ready(function () {
                //$("div.demo-container").html(function () {
                //    var emphasis = "<em>" + $("p").length + " paragraphs!</em>";
                //    return "<p>All new content for " + emphasis + "</p>";
                //});
                $("#infoBatiment").html(function () {
                    //for (i = 0; i < json.length; i++) { }
                    var url = json[id - 1].urlPhoto;

                    return "<img src="+url+" style='width:280px;margin-left: auto;margin-right: auto;'/>" +
                        "<span style='text-align: center'><h1>" + json[id - 1].nomBatiment + "</h1><P>" + json[id - 1].descriptionBatiment + "</P></span>";
                        
                });
            });
        }
        
        /*Ajustement du zoom selon la ville choisie*/
        $(document).ready(function () {
            $("#Colmar").click(function () {
                map.setZoom(12);
                map.setCenter([jsonVilles[0].longitudeVille, jsonVilles[0].latitudeVille]);
            });
            $("#Strasbourg").click(function () {
                map.setZoom(12);
                map.setCenter([jsonVilles[1].longitudeVille, jsonVilles[1].latitudeVille]);
            });
            $("#Mulhouse").click(function () {
                map.setZoom(12);
                map.setCenter([jsonVilles[2].longitudeVille, jsonVilles[2].latitudeVille]);
            });
            $("#Obernai").click(function () {
                map.setZoom(12);
                map.setCenter([jsonVilles[3].longitudeVille, jsonVilles[3].latitudeVille]);
            });

        /* Click sur le bouton Informations */
            $("#infoColmar").click(function () {
                $("#infoBatiment").html("<span class='red'><b>@Model.Batiments.First().NomBatiment</b></span>");
            });
        });

    </script>
    
</body>
