@model VisitMyCities.Models.BatimentViewModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VisitMyCity</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    

    <header class="masthead">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h1 class="mb-0">@Html.DisplayFor(model => model.Batiment.NomBatiment)</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <section class='average-rating-widget'>
                        @if ((double)@ViewData["MoyenneEtoiles"] > 0)
                        {
                            @Html.Partial("_ShowAverageEvaluation")
                        }
                        else
                        {
                            <h3>Pas d'évaluation pour ce lieu</h3>
                        }
                    </section>
                </div>
                <div class="row">
                    <section class='rating-widget'>
                        @if (@ViewData["Utilisateur"] != null)
                        {
                            if ((int)@ViewData["Etoiles"] == 0)
                            {
                                @Html.Partial("_StarsEvaluation")
                            }
                            else
                            {
                                @Html.Partial("_ShowUserEvaluation")
                            }
                        }

                    </section>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <br />
                        <dt>
                            Type :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Batiment.TypeBatiment)
                        </dd>
                        <br />
                        <dt>
                            Description :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Batiment.DescriptionBatiment)
                        </dd>
                        <br />
                        <dt>
                            Monument historique ?
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Batiment.MonumentHistorique)
                        </dd>
                        <br />
                        <dt>
                            Date de construction :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Batiment.DateConstruction)
                        </dd>
                        <br />
                        <dt>
                            Ville :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Batiment.Ville.NomVille), @Html.DisplayFor(model => model.Batiment.Ville.NomRegion)
                        </dd>

                    </div>
                    <div class="col-md-6" id="photo">
                        @if (Model.Batiment.URLPhoto == null)
                        {
                            Model.Batiment.URLPhoto = "assets/img/placeholder-image.png";
                        }
                        <img src="~/@Html.DisplayFor(model => model.Batiment.URLPhoto)" style="width:100%; border-radius:10px" />

                    </div>
                </div>
                @Html.Partial("_ListDetailsArchi")
            </div>
            <div class="card-footer">
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Batiment.BatimentId">Modifier la fiche</a> |
                    <a asp-action="Index">Liste des villes</a>
                </div>
            </div>
        </div>
    </header>
</body>