@model VisitMyCities.DataModel.BusinessObjects.Batiment

@{
    ViewData["Title"] = "Details";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VisitMyCity</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#box-batiment").hide();
            /* 1. Visualizing things on Hover - See next part for action on click */
            $('#stars li').on('mouseover', function () {
                var onStar = parseInt($(this).data('value'), 10); // The star currently selected
                var stars = $(this).parent().children('li.star');

                // Now highlight all the stars that's not after the current hovered star
                for (i = 0; i < stars.length; i++) {
                    $(stars[i]).removeClass('rating');
                    
                }
                for (i = 0; i < onStar; i++) {
                    $(stars[i]).addClass('rating');
                    
                }

            }).on('mouseout', function () {
                $(this).parent().children('li.star').each(function (e) {
                    $(this).removeClass('rating');
                });
            });
            /* 2. Action to perform on click */
            $('#stars li').on('click', function () {
                var onStar = parseInt($(this).data('value'), 10); // The star currently selected
                var stars = $(this).parent().children('li.star');

                for (i = 0; i < stars.length; i++) {
                    $(stars[i]).removeClass('selected');
                }
                for (i = 0; i < onStar; i++) {
                    $(stars[i]).addClass('selected');
                }
                // Message après avoir cliqué sur les étoiles
                var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
                var msg = "";
                if (ratingValue > 1) {
                    msg = "Merci! Vous avez donné " + ratingValue + " étoiles à ce lieu.";
                }
                else {
                    msg = "Nous sommes désolés que ce lieu ne vous ait pas plu :-(";
                }
                responseMessage(msg);

                // Attribution du nombre d'étoiles au champ input du formulaire
                var theValue = $(this).attr('data-value');
                $("#starstosave").val(theValue);
                

                //$("#box-batiment").show();
            });
        });
        function responseMessage(msg) {
            $('#box-batiment').fadeIn(200);
            $('.success-box div.text-message').html("<span>" + msg + "</span>");
            //$("#save-rating-batiment").html("Enregistrer cette évaluation");
            $('#save-evaluation').on('mouseover', function () {
                $('#save-evaluation').removeClass('btn-secondary').addClass('btn-success');
            }).on('mouseout', function () {
                $('#save-evaluation').removeClass('btn-success').addClass('btn-secondary');
            });

            $('#delete-evaluation').on('mouseover', function () {
                $('#delete-evaluation').removeClass('btn-secondary').addClass('btn-danger');
            }).on('mouseout', function () {
                $('#delete-evaluation').removeClass('btn-danger').addClass('btn-secondary');
            });
        }
    </script>*@

    <header class="masthead">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h1 class="mb-0">@Html.DisplayFor(model => model.NomBatiment)</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <section class=' rating-widget'>
                        @Html.Partial("_StarsEvaluation")
                        @*<div class='rating-stars'>
                <ul id='stars'>
                <li class='star' title='Décevant' data-value='1'>
                    <i class='fa ratingStar fas fa-star fa-3x'></i>
                </li>
                <li class='star' title='Moyen' data-value='2'>
                    <i class='fa ratingStar fas fa-star fa-3x'></i>
                </li>
                <li class='star' title='Sympa mais sans plus...' data-value='3'>
                    <i class='fa ratingStar fas fa-star fa-3x'></i>
                </li>
                <li class='star' title='Très intéressant, à voir !' data-value='4'>
                    <i class='fa ratingStar fas fa-star fa-3x'></i>
                </li>
                <li class='star' title='Exceptionnel, à voir absolument !!!' data-value='5'>
                    <i class='fa ratingStar fas fa-star fa-3x'></i>
                </li>

            </ul>
        </div>
        <div class="success-box-container">
            <div class='success-box' id="box-batiment">
                <div class='clearfix'></div>

                <div class='text-message'></div>
                <div class='clearfix'></div>
                <div class="save-box">
                    <div id="save-rating-batiment">
                        <form asp-action="SaveEvaluation" asp-for="BatimentId" class="ratingform">
                            <input name="id" type="hidden" value="@Model.BatimentId"/>
                            <input id="starstosave" name="starstosave" type="hidden" />
                            <button type="submit" class="btn btn-secondary" id="save-evaluation">
                                <i class="far fa-save fa-2x save-icon" id="save-icon"></i>

                            </button>
                        </form>
                        <form asp-action="DeleteEvaluation" asp-for="BatimentId" class="ratingform">
                            <button type="submit" class="btn btn-secondary" id="delete-evaluation">
                                <i class="fas fa-trash-alt fa-2x" id="save-icon"></i>

                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@

                    </section>
            </div>
                <div class="row">
                    <div class="col-md-6">
                        <br />
                        <dt>
                            Type :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TypeBatiment)
                        </dd>
                        <br />
                        <dt>
                            Description :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DescriptionBatiment)
                        </dd>
                        <br />
                        <dt>
                            Monument historique ?
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MonumentHistorique)
                        </dd>
                        <br />
                        <dt>
                            Date de construction :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DateConstruction)
                        </dd>
                        <br />
                        <dt>
                            Ville :
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Ville.NomVille), @Html.DisplayFor(model => model.Ville.NomRegion)
                        </dd>

                    </div>
                    <div class="col-md-6" id="photo">
                        @if (Model.URLPhoto == null)
                        {
                            Model.URLPhoto = "assets/img/placeholder-image.png";
                        }
                        <img src="~/@Html.DisplayFor(model => model.URLPhoto)" style="width:100%; border-radius:10px" />

                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.BatimentId">Modifier la fiche</a> |
                    <a asp-action="Index">Liste des villes</a>
                </div>
            </div>
        </div>
    </header>
</body>