@model IEnumerable<VisitMyCities.DataModel.BusinessObjects.Batiment>

@{
    ViewData["Title"] = "";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VisitMyCity</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <header class="masthead">
    </header>
    <br /><br />
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#tablelist').DataTable({
                "paging": false,
                "fnInitComplete": function () {
                    //var myCustomScrollbar = document.querySelector('#tablelist_wrapper .dataTables_scrollBody');
                    //var ps = new PerfectScrollbar(myCustomScrollbar);
                },
                "scrollY": 800, "scrollX": 1300
            });
            $('.dataTables_length').addClass('bs-select');
        });

        $(".ratingStar").hover(function () {
            $(".ratingStar").addClass("far").removeClass("fas");

            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
        });
    </script>
   
        <section class="page-section" id="services">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <a asp-action="Create">Bâtiments à découvrir</a>

                    </div>
                </div>
            </div>
            <table id="tablelist" class="table table-hover dataTable table-responsive">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NomBatiment)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TypeBatiment)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateConstruction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ville)
                        </th>
                        <th>
                            Avis
                        </th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomBatiment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeBatiment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateConstruction)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ville.NomVille)
                        </td>
                        <td>
                            <div class="form-group">
                                <span class="text-warning">
                                    <i class="ratingStar fas fa-star"></i>
                                    <i class="ratingStar far fa-star"></i>
                                    <i class="ratingStar far fa-star"></i>
                                    <i class="ratingStar far fa-star"></i>
                                    <i class="ratingStar far fa-star"></i>
                                </span>
                            </div>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.BatimentId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.BatimentId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.BatimentId">Delete</a>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="~/js/site.js"></script>

</body>
